$theme-colors: (
    'primary': #fff,
    'secondary': #1abc9c,
    'info': #e67e22,
    'dark': #34495e,
    'success': #2ecc71,
    'warning' : #00FF00,
);
$fuenteTitulos: 'Lato', sans-serif;
$fuenteParrafos: 'Noto Sans', sans-serif;

@import '~bootstrap/scss/bootstrap';