.perfil-info {
    width: 60%;
}
.perfil {
    width: 40%;
    background-image: url('../img/Perfil.webp');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}